.detailed-nav {
	@include section-styles;
	padding: 2.4rem 0;

	@include bp-768 {
		padding: 2.4rem 0 3rem;
	}

	@include bp-1120 {
		padding: 4rem 0 5rem;
	}

	&__title {
		font-size: $font-size-biggest;
		line-height: 1.4;
		font-weight: 700;
		margin-bottom: 2.4rem;
		padding-left: 1.2rem;
		border-left: 4px solid $primary-border-color;

		@include bp-768 {
			margin-bottom: 3rem;
			padding-left: 2rem;
		}

		@include bp-1120 {
			margin-bottom: 1rem;
			padding-left: 3rem;
			padding-right: 40rem;
		}
	}

	&__list {
		padding-inline-start: 0;
		padding-left: 1.6rem;
		padding-bottom: 1rem;
		margin-bottom: 1.4rem;
		overflow-x: scroll;
		white-space: nowrap;

		@include bp-768 {
			padding-left: 2.4rem;
			margin-bottom: 3rem;
		}

		@include bp-1120 {
			margin-bottom: 1rem;
			padding-left: 3.4rem;
			padding-right: 3rem;
			overflow-x: auto;
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__item {
		display: inline-block;
	}

	&__link {
		display: inline-block;
		padding: 0.8rem 1rem 0.8rem 1.6rem;
		border: 2px solid transparent;
		color: $grey;

		&.active {
			border: 2px solid $secondary-border-color;
			background-color: $white;
			border-radius: 6px;
		}
	}

	&__info {
		visibility: hidden;
		width: 0;
		height: 0;
		padding: $padding-hor-sm;

		@include bp-768 {
			padding: $padding-hor-md;
		}

		&.active {
			visibility: visible;
			width: auto;
			height: auto;
		}
	}
}
