.slider {
	padding: 1.6rem 0 5rem 1.6rem;

	@include bp-768 {
		padding: 2.4rem 2.4rem 3rem;
	}

	@include bp-1440 {
		padding: 2.4rem 2.4rem 5rem;
	}

	&__wrapper {
		&.opened {
			height: auto;
			overflow-y: visible;
		}

		@include bp-768 {
			display: grid;
			grid-template-columns: repeat(3, minmax(224px, 1fr));
			gap: 1.6rem 2.4rem;
			height: 162px;
			overflow-y: hidden;
		}

		@include bp-1440 {
			grid-template-columns: repeat(4, minmax(224px, 1fr));
		}
	}

	&__slide {
		box-sizing: border-box;
		width: 240px;
		padding: 1.6rem;
		border: 1px solid var(--separator-color);
		border-radius: 6px;
		background-color: var(--white);

		@include bp-768 {
			width: auto;
			min-width: 224px;
		}
	}

	&__link {
		font-size: 0;
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 2px solid var(--pink);
		background-image: url(../img/right-pink-arrow.svg);
		background-repeat: no-repeat;
		background-position: center center;
	}

	&__pagination {
		@include bp-768 {
			display: none;
		}
	}

	&__btn {
		padding-left: 2.4rem;

		@include bp-768 {
			margin-top: 2.4rem;
		}

		&.hidden {
			display: none;
		}

		&::before {
			left: 0;
		}

		// &--show {
		// 	display: none;

		// 	@include bp-768 {
		// 		display: block;
		// 	}
		// }

		&--hide {
			// display: none;
		}
	}
}
