.brands {
	background-color: var(--main-bg-color);
	border-bottom: 1px solid var(--tertiary-border-color);
}

.brands__title {
	padding: 1.6rem;
}

.brands-slider {
	padding: 1.6rem 0 5rem 1.6rem;
}

.brands-slider__wrapper {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.brands-slider__slide {
	box-sizing: border-box;
	width: 240px;
	height: 72px;
	padding: 1.6rem;
	border: 1px solid var(--separator-color);
	border-radius: 6px;
	background-color: var(--white);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.brands-slider__link {
	
}

.brands-slider__btn {
	padding-left: 2.4rem;
	position: relative;
}

.brands-slider__btn::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 8px;
	height: 11px;
	background-repeat: no-repeat;
	background-position: center center;
}

.brands-slider__btn--show.hidden {
	display: none;
}

.brands-slider__btn--hide.hidden {
	display: none;
}

.brands-slider__btn--show::before {
	background-image: url(../assets/images/arrow-down.svg);
}

.brands-slider__btn--hide::before {
	background-image: url(../assets/images/arrow-up.svg);
}

@media (min-width: 768px) {
	.brands-slider {
		padding: 2.4rem 2.4rem 8rem;
	}

	.brands__title {
		padding: 1.6rem 2.4rem;
	}

	.brands-slider__wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.6rem 2.4rem;
	}

	.brands-slider__slide {
		width: auto;
	}

	.brands-slider__pagination {
		display: none;
	}

	.brands-slider__btn--show {
		margin-top: 2.4rem;
	}

	.brands-slider__btn--hide {
		margin-top: 2.4rem;
	}
}

@media (min-width: 1440px) {
	.brands-slider__wrapper {
		grid-template-columns: repeat(4, 1fr);
	}
}
