.detailed-nav {
	background-color: var(--main-bg-color);
	border-top: 1px solid var(--tertiary-border-color);
	border-bottom: 1px solid var(--tertiary-border-color);
	padding: 2.4rem 0;
}

.detailed-nav__title {
	font-size: 2.8rem;
	line-height: 1.4;
	font-weight: 700;
	margin: 0;
	margin-bottom: 2.4rem;
	padding-left: 1.6rem;
	border-left: 4px solid var(--primary-border-color);
}

.detailed-nav__list {
	list-style-type: none;
	margin: 0;
	padding-inline-start: 0;
	padding: 0;
	padding-left: 1.6rem;
	margin-bottom: 2.4rem;
	overflow-x: scroll;
	white-space: nowrap;
}

.detailed-nav__list::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.detailed-nav__link {
	display: inline-block;
	padding: 0.8rem 1rem 0.8rem 1.6rem;
	border: 2px solid transparent;
	transition: all 0.3s linear;
	color: var(--secondary-text-color);
	text-decoration: none;
}

.detailed-nav__item {
	display: inline-block;
}

@media (min-width: 650px) {
	.detailed-nav__list {
		padding-left: 2.4rem;
		margin-bottom: 4rem;
	}
}

@media (min-width: 768px) {
	.detailed-nav {
		padding: 2.4rem 0 3rem;
	}

	.detailed-nav__title {
		margin-bottom: 3rem;
		padding-left: 2.4rem;
	}
}

@media (min-width: 1120px) {
	.detailed-nav {
		padding: 4rem 0 5rem;
	}

	.detailed-nav__title {
		margin-bottom: 1rem;
		padding-left: 3rem;
		padding-right: 40rem;
	}

	.detailed-nav__list {
		margin-bottom: 2rem;
		padding-left: 3.4rem;
		padding-right: 3rem;
		overflow-x: auto;
		display: flex;
		flex-wrap: wrap;
	}
}
