.header {
	min-height: 88px;
	padding: 0 1.6rem;
	display: flex;
	align-items: center;
}

.header__burger {
	margin-right: 1.6rem;
}

.header__contact-us {
  display: none;
  margin-left: auto;
}

.header__services {
  margin-left: auto;
}

@media (min-width: 768px) {
	.header {
		padding: 0 2.4rem;
	}

	.header__burger {
		margin-right: 4.2rem;
	}

  .header__contact-us {
  display: block;
}

.header__services {
		margin-left: 4.2rem;
	}
}

@media (min-width: 1120px) {
	.header {
		visibility: hidden;
		position: absolute;
		width: 0;
		height: 0;
	}
}
