.main__services {
	display: none;
}

@media (min-width: 1120px) {
	.main {
		position: relative;
		max-width: 1200px;
		margin: 0 auto;
	}

	.main__services {
		display: flex;
		position: absolute;
		right: 3rem;
		top: 4rem;
	}
}
