.main__services {
	display: none;
}

@media (min-width: 1120px) {
	.main {
		position: relative;
		margin-left: 320px;
	}

	.main__services {
		display: flex;
		position: absolute;
		right: 3rem;
		top: 4rem;
	}
}
