.services {
	display: flex;
}

.services__btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 1.6rem;
}

.services__btn:last-child {
	margin-right: 0;
}

.services__btn-text {
	margin-right: 0.8rem;
}

