.splitter-before {
	position: relative;
}

.splitter-before::before {
	content: '';
	position: absolute;
	width: 2px;
	height: 32px;
	background-color: var(--separator-color);
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
}
