@font-face {
	font-family: 'TT Lakes';
	src: url('TTLakesCompressed-Thin.woff') format('woff'),
		url('AnyConv.com__TTLakesCompressed-Thin.woff2') format('woff2');
	font-weight: 300;
}

@font-face {
	font-family: 'TT Lakes';
	src: url('TTLakesCompressed-Regular.woff') format('woff'),
		url('AnyConv.com__TTLakesCompressed-Regular.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'TT Lakes';
	src: url('TTLakesCompressed-Medium.woff') format('woff'),
		url('AnyConv.com__TTLakesCompressed-Medium.woff2') format('woff2');
	font-weight: 500;
}

@font-face {
	font-family: 'TT Lakes';
	src: url('TTLakesCompressed-Bold.woff') format('woff'),
		url('AnyConv.com__TTLakesCompressed-Bold.woff2') format('woff2');
	font-weight: 700;
}
