.main-page {
	color: var(--primary-text-color);
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.5;
	position: relative;
	max-width: 1440px;
	margin: 0 auto;
	min-height: 100vh;
}
