.main-page {
	color: $main-text-color;
	font-family: $main-font;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.5;
	position: relative;
	max-width: 1440px;
	margin: 0 auto;
	min-height: 100vh;
  display: flex;
  flex-direction: column;
}
