.brands {
	@include section-styles;

	&__title {
		padding: $title-padding;

		@include bp-768 {
			padding: $title-padding-768;
		}

		@include bp-1440 {
			padding: $title-padding-1440;
		}
	}

	&__slider-slide {
		height: 72px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
