.prices {
	@include section-styles;
	padding-bottom: 4rem;

	&__title {
		padding: $title-padding;

		@include bp-768 {
			margin-bottom: 3rem;
			padding: $title-padding-768;
		}

		@include bp-1440 {
			padding: $title-padding-1440;
		}
	}

	&__header {
		display: none;

		@include bp-768 {
			display: flex;
			margin: 0 4rem;
			font-size: $font-size-md;
			color: $grey;
		}

		@include bp-1440 {
			margin: 0 5.6rem;
		}
	}

	&__header-item:nth-child(1) {
		width: 45%;
	}

	&__header-item:nth-child(2) {
		width: 20%;
	}

	&__header-item:nth-child(3) {
		width: 35%;
	}

	&__slider {
		@include bp-768 {
			padding: 1.6rem 2.4rem 2.4rem;
		}

		@include bp-1440 {
			padding: 1.6rem 3.2rem 2.4rem;
		}
	}

	&__slider-wrapper {
		@include bp-768 {
			background-color: $white;
			padding: 0 1.6rem;
			border-radius: 6px;
			display: flex;
			flex-direction: column;
			height: auto;
			width: auto;
			gap: 0;
		}

		@include bp-1440 {
			padding: 0 2.4rem;
		}
	}

	&__slider-slide {
		width: 260px;
		display: flex;
		flex-direction: column;
		position: relative;
		height: auto;

		@include bp-768 {
			width: 100%;
			border: none;
			border-bottom: 1px solid $grey-lightest;
			border-radius: 0;
			padding: 2rem 0;
			flex-direction: row;
			align-items: center;

			&:last-child {
				border-bottom: none;
			}
		}
	}

	&__slider-item {
		margin-bottom: 1.6rem;

		&:last-of-type {
			margin-bottom: 0;
		}

		@include bp-768 {
			margin-bottom: 0;
		}
	}

	&__service {
		@include bp-768 {
			width: 45%;
		}
	}

	&__price {
		@include bp-768 {
			width: 20%;
		}
	}

	&__time {
		@include bp-768 {
			width: 20%;
		}
	}

	&__slider-content {
		display: block;
		font-size: $font-size-md;

		&:nth-child(1) {
			color: $grey;

			@include bp-768 {
				display: none;
			}
		}

		&:nth-child(2) {
			letter-spacing: 0.2px;
		}
	}

	&__btn {
		width: 11rem;
		position: absolute;
		padding: 1rem 1.6rem;
		bottom: 1.6rem;
		right: 1.6rem;
		line-height: 1;

		&::after {
			right: 20px;
		}

		@include bp-768 {
			position: relative;
			bottom: 0;
			right: 0;
			width: 15%;
		}
	}

	&__info {
		padding: 0 1.6rem;
		font-size: $font-size-md;
		margin-bottom: 1rem;

		@include bp-768 {
			padding: 0 0 0 2.4rem;
			width: 50%;
		}

		@include bp-1440 {
			padding: 0 0 0 3.2rem;
		}
	}

	&__commercial-offer {
		padding: 0 1.6rem;
		display: block;

		@include bp-768 {
			padding: 0 2.4rem;
		}

		@include bp-1440 {
			padding: 0 3.2rem;
		}

		span {
			width: 12px;
			height: 12px;
			display: inline-block;
			vertical-align: middle;
			margin-left: 0.5rem;
			background-image: url('../img/right-pink-arrow.svg');
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
}
