.repaired-brands {
	padding: 0;

	@include bp-768 {
		padding: $padding-hor-md;
		display: flex;
	}

	@include bp-1120 {
		padding-left: 3.4rem;
		padding-right: 3rem;
	}

	&__content {
		padding: $padding-hor-sm;
		margin-bottom: 1.6rem;

		@include bp-768 {
			padding: 0;
			margin: 0;
			margin-right: 4rem;
			align-self: flex-start;
		}

		@include bp-1120 {
			padding-top: 2rem;
		}
	}

	&__text {
		margin-bottom: 1.6rem;
		font-size: $font-size-md;
		line-height: 1.4;

		&:last-of-type {
			display: none;

			@include bp-768 {
				display: block;
			}
		}
	}

	&__link {
		display: inline-block;
		padding-left: 3rem;
		font-weight: 500;
	}

	&__img {
		background-image: url('../img/about-bg.jpeg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		min-height: 17.6rem;

		@include bp-650 {
			min-width: 36rem;
			min-height: 20rem;
		}

		@include bp-1120 {
			min-width: 53rem;
			min-height: 30rem;
		}
	}
}
